$blue: hsl(177, 68%, 64%);
$red: hsl(12, 94%, 65%);
$orange: hsl(33, 100%, 70%);
$white: hsl(20, 33%, 98%);
$black: hsl(244, 23%, 12%);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: url(../assets/bg-main-mobile.png);
  background-position: top -104px left 159px;
  overflow: auto;
}

.header,
.main__hero,
.footer {
  margin: 0 24px;
}

.header {
  margin-top: 40px;

  &__background {
    display: none;
  }
}

.main {
  &__hero {
    margin-top: 64px;
    margin-bottom: 164px;

    &__heading {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: -0.454545px;
      color: $black;
      margin: 0;
    }

    &__para {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
      color: $black;
      margin: 0;
      margin-top: 20px;
    }
  }

  &__phone {
    display: grid;
    place-items: center;
    background: url(../assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
    height: 600px;
    position: relative;
    border-radius: 12px;

    img {
      position: absolute;
      top: -96px;
      width: 209px;
    }
  }

  &__premium {
    position: absolute;
    margin-top: -100px;
    z-index: 1;
    background: $red;
    border-radius: 12px;
    overflow: auto;

    &__wrapper {
      margin: 0 37px;
    }

    .price-and-button-wrapper {
      margin: 0 42px;
    }

    &__heading {
      margin: 0;
      margin-top: 48px;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      color: $white;
    }

    &__para {
      margin: 0;
      margin-top: 12px;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: $white;
    }

    &__price {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
      letter-spacing: -0.2px;
      color: $white;
      margin-top: 42px;

      &--large {
        font-weight: 700;
        font-size: 4.063rem;
        line-height: 3.25rem;
        letter-spacing: normal;
        color: $white;
        margin-right: 16px;
      }
    }

    &__ios,
    &__android {
      padding: 14px;
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: -0.18px;
      width: 100%;
      border-radius: 12px;
    }

    &__ios {
      margin-top: 32px;
      border: 2px solid $black;
      background-color: $black;
      color: $white;
      border: none;

      &:hover {
        background-color: $blue;
        cursor: pointer;
      }
    }

    &__android {
      margin-top: 16px;
      margin-bottom: 48px;
      border: 2px solid $white;
      background-color: $white;
      color: $black;
      border: none;

      &:hover {
        background-color: $orange;
        cursor: pointer;
      }
    }
  }
}

.footer {
  margin-top: 492px;

  &__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #191826;

    &--dark {
      font-weight: 700;
    }
  }

  &__images {
    margin-top: 64px;
    margin-bottom: 80px;
  }

  &__image + &__image {
    margin-left: 20px;
  }

  &__image:hover {
    cursor: pointer;
    filter: invert(72%) sepia(32%) saturate(7223%) hue-rotate(326deg)
      brightness(101%) contrast(96%);
  }
}

@media (min-width: 700px) {
  body {
    background-image: url(../assets/bg-main-tablet.png);
    background-position: left -254px top -112px;
  }

  .header,
  .main,
  .footer {
    margin-left: 33px;
    margin-right: 39px;
  }

  .header {
    margin-top: 61px;
    &__background {
      display: inline;
      position: absolute;
      width: 266px;
      height: 400px;
      top: -32px;
      right: -35px;
      overflow: hidden;
    }
  }

  .main {
    &__hero {
      width: 74%;
      margin: 95px 0 256px;

      &__heading {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -0.727273px;
      }

      &__para {
        margin-top: 28px;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }

    &__phone {
      display: block;
      margin-left: 25px;
      margin-right: -25px;
      .phone {
        margin-left: 64px;
        top: -138px;
        width: 270px;
      }
    }

    &__premium {
      width: 52%;
      margin-top: -450px;
      margin-left: 272px;

      &__wrapper {
        margin: 0 48px;
      }

      .price-and-button-wrapper {
        margin: 0 54px 0 49px;
      }
    }
  }

  .footer {
    margin-top: 176px;
    margin-bottom: 85px;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      width: 53%;
    }

    &__images {
      margin: 0;
      display: flex;
    }

    &__image {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url(../assets/bg-main-desktop.png);
  }

  .header,
  .main,
  .footer {
    margin-left: 165px;
    margin-right: 165px;
  }

  .header {
    &__background {
      top: -40px;
      right: 0;
      width: 312px;
      height: 468px;
    }
  }

  .main {
    &__hero {
      width: 78%;
      margin: 127px 0 321px;

      &__heading {
        font-size: 5.5rem;
        line-height: 5.5rem;
      }

      &__para {
        margin-top: 40px;
        font-size: 1.25rem;
        line-height: 2.125rem;
      }
    }

    &__phone {
      margin-left: 0;
      margin-right: 0;
      background-position: top -40px left 335px;

      .phone {
        margin-left: 102px;
        width: 312px;
        top: -213px;
      }
    }

    &__premium {
      width: 31%;
      margin-left: 569px;
      margin-top: -510px;

      &__wrapper {
        margin: 0 54px 0 59px;
      }

      .price-and-button-wrapper {
        margin: 0 54px 0 59px;
      }

      &__heading {
        font-size: 2.5rem;
        line-height: 3.25rem;
        margin-top: 58px;
      }

      &__para {
        margin-top: 22px;
        font-size: 1.25rem;
        line-height: 2.125rem;
      }

      &__price {
        margin-top: 39px;
      }

      &__android {
        border: none;
      }

      &__ios {
        margin-top: 46px;
        border: none;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 202px;
    margin-bottom: 91px;

    &__logo {
      width: 146px;
      height: 32px;
    }

    &__text {
      margin: 0;
      width: 366px;
    }

    &__images {
      margin-left: 359px;
      width: 100px;
    }
  }
}
