html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: url(../assets/bg-main-mobile.png);
  background-position: top -104px left 159px;
  overflow: auto;
}

.header,
.main__hero,
.footer {
  margin: 0 24px;
}

.header {
  margin-top: 40px;
}
.header__background {
  display: none;
}

.main__hero {
  margin-top: 64px;
  margin-bottom: 164px;
}
.main__hero__heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.454545px;
  color: hsl(244deg, 23%, 12%);
  margin: 0;
}
.main__hero__para {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(244deg, 23%, 12%);
  margin: 0;
  margin-top: 20px;
}
.main__phone {
  display: grid;
  place-items: center;
  background: url(../assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(244deg, 23%, 12%);
  height: 600px;
  position: relative;
  border-radius: 12px;
}
.main__phone img {
  position: absolute;
  top: -96px;
  width: 209px;
}
.main__premium {
  position: absolute;
  margin-top: -100px;
  z-index: 1;
  background: hsl(12deg, 94%, 65%);
  border-radius: 12px;
  overflow: auto;
}
.main__premium__wrapper {
  margin: 0 37px;
}
.main__premium .price-and-button-wrapper {
  margin: 0 42px;
}
.main__premium__heading {
  margin: 0;
  margin-top: 48px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: hsl(20deg, 33%, 98%);
}
.main__premium__para {
  margin: 0;
  margin-top: 12px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: hsl(20deg, 33%, 98%);
}
.main__premium__price {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: hsl(20deg, 33%, 98%);
  margin-top: 42px;
}
.main__premium__price--large {
  font-weight: 700;
  font-size: 4.063rem;
  line-height: 3.25rem;
  letter-spacing: normal;
  color: hsl(20deg, 33%, 98%);
  margin-right: 16px;
}
.main__premium__ios, .main__premium__android {
  padding: 14px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -0.18px;
  width: 100%;
  border-radius: 12px;
}
.main__premium__ios {
  margin-top: 32px;
  border: 2px solid hsl(244deg, 23%, 12%);
  background-color: hsl(244deg, 23%, 12%);
  color: hsl(20deg, 33%, 98%);
  border: none;
}
.main__premium__ios:hover {
  background-color: hsl(177deg, 68%, 64%);
  cursor: pointer;
}
.main__premium__android {
  margin-top: 16px;
  margin-bottom: 48px;
  border: 2px solid hsl(20deg, 33%, 98%);
  background-color: hsl(20deg, 33%, 98%);
  color: hsl(244deg, 23%, 12%);
  border: none;
}
.main__premium__android:hover {
  background-color: hsl(33deg, 100%, 70%);
  cursor: pointer;
}

.footer {
  margin-top: 492px;
}
.footer__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #191826;
}
.footer__text--dark {
  font-weight: 700;
}
.footer__images {
  margin-top: 64px;
  margin-bottom: 80px;
}
.footer__image + .footer__image {
  margin-left: 20px;
}
.footer__image:hover {
  cursor: pointer;
  filter: invert(72%) sepia(32%) saturate(7223%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

@media (min-width: 700px) {
  body {
    background-image: url(../assets/bg-main-tablet.png);
    background-position: left -254px top -112px;
  }
  .header,
.main,
.footer {
    margin-left: 33px;
    margin-right: 39px;
  }
  .header {
    margin-top: 61px;
  }
  .header__background {
    display: inline;
    position: absolute;
    width: 266px;
    height: 400px;
    top: -32px;
    right: -35px;
    overflow: hidden;
  }
  .main__hero {
    width: 74%;
    margin: 95px 0 256px;
  }
  .main__hero__heading {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.727273px;
  }
  .main__hero__para {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .main__phone {
    display: block;
    margin-left: 25px;
    margin-right: -25px;
  }
  .main__phone .phone {
    margin-left: 64px;
    top: -138px;
    width: 270px;
  }
  .main__premium {
    width: 52%;
    margin-top: -450px;
    margin-left: 272px;
  }
  .main__premium__wrapper {
    margin: 0 48px;
  }
  .main__premium .price-and-button-wrapper {
    margin: 0 54px 0 49px;
  }
  .footer {
    margin-top: 176px;
    margin-bottom: 85px;
  }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__text {
    width: 53%;
  }
  .footer__images {
    margin: 0;
    display: flex;
  }
  .footer__image {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url(../assets/bg-main-desktop.png);
  }
  .header,
.main,
.footer {
    margin-left: 165px;
    margin-right: 165px;
  }
  .header__background {
    top: -40px;
    right: 0;
    width: 312px;
    height: 468px;
  }
  .main__hero {
    width: 78%;
    margin: 127px 0 321px;
  }
  .main__hero__heading {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .main__hero__para {
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  .main__phone {
    margin-left: 0;
    margin-right: 0;
    background-position: top -40px left 335px;
  }
  .main__phone .phone {
    margin-left: 102px;
    width: 312px;
    top: -213px;
  }
  .main__premium {
    width: 31%;
    margin-left: 569px;
    margin-top: -510px;
  }
  .main__premium__wrapper {
    margin: 0 54px 0 59px;
  }
  .main__premium .price-and-button-wrapper {
    margin: 0 54px 0 59px;
  }
  .main__premium__heading {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-top: 58px;
  }
  .main__premium__para {
    margin-top: 22px;
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  .main__premium__price {
    margin-top: 39px;
  }
  .main__premium__android {
    border: none;
  }
  .main__premium__ios {
    margin-top: 46px;
    border: none;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 202px;
    margin-bottom: 91px;
  }
  .footer__logo {
    width: 146px;
    height: 32px;
  }
  .footer__text {
    margin: 0;
    width: 366px;
  }
  .footer__images {
    margin-left: 359px;
    width: 100px;
  }
}/*# sourceMappingURL=styles.css.map */